<div class="add-form col-md-6">
  <div class="row">
    <div class="col-md-3">
        <label class="sr-only" for="inlineFormInputName">Name</label>
        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Name" required #name>
    </div>
    <div class="col-md-4">
        <label class="sr-only" for="inlineFormInputName">Description</label>
        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Description" required #description>
    </div>
    <div class="col-md-3">
        <label class="sr-only" for="inlineFormInputGroupUsername">Price</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Price" required #price>
        </div>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-primary" (click)="addItem(name.value, description.value, price.value); name.value=''; description.value=''; price.value='';">Add</button>
    </div>
  </div>
</div>