<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-shop-add-form></app-shop-add-form>
        </div>
        <div class="col-md-2">
            <app-search-panel></app-search-panel>
        </div>
        <div class="col-md-4">
            <app-messages></app-messages>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <app-shop-list-item></app-shop-list-item>
        </div>
        <div class="col-md-2">
            <app-shop-total></app-shop-total>
        </div>
    </div>
</div>
