.list-item {
    position: relative;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;

    & ul {
        list-style: none;
    }

    & label {
        font-weight: bold;
        display: inline;
    }

    & .btn {
        position: absolute; 
        right: 15px;
        top: 15px;
    }
}